@import url(./_bg/video__item_bg_kamchatka.css);
@import url(./_bg/video__item_bg_observatoria.css);

.video__item {
  display: flex;
  flex-direction: column;
  border-radius: 2%;
  height: 323px;
  justify-content: space-between;
  text-decoration: none;
  position: relative;
}
  
@media screen and (max-width: 1200px) {
  .video__item {
    height: 288px;
  }
}

@media screen and (max-width: 900px) {
  .video__item {
    height: 200px;
  }
}

@media screen and (max-width: 320px) {
  .video__item {
    height: 192px;
  }
}