.video__icon {
  max-width: 41px;
  margin-top: 5%;
  margin-left: 5%;
  z-index: 1;
  transition: opacity .8s ease-out;
}

.video__icon:hover {
  opacity: .5; 
}

.video__icon:hover ~ .video__overlay {
  background-color: rgba(0, 0, 0, .5);
}
