.cover__image {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
  max-width: 1184px;
  height: 594px;
  text-decoration: none;
  background-image: url(../../../images/cover.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
  
@media screen and (max-width: 1024px) {
  .cover__image {
    height: 562px;
  }
}
  
@media screen and (max-width: 768px) {
  .cover__image {
    height: 500px;
  }
}
  
@media screen and (max-width: 425px) {
  .cover__image {
    height: 272px;
  }
}
  
@media screen and (max-width: 320px) {
  .cover__image {
    height: 216px;
  }
}