.intro__digits-text {
  margin-top: 0px;
  margin-bottom: 8px;
  font-size: 14px;
  line-height: 14px;
  color: white;
  list-style: none;
}

@media screen and (max-width: 425px) {
  .intro__digits-text {
    font-size: 12px;
    line-height: 12px;
  }
}

