

.header__lang-text {
  color: white;
  font-size: 24px;
  margin-right: 18px;
  margin-top: 17px;
  transition: opacity .8s ease-out;
  list-style: none;
  text-decoration: none;
}

.header__lang-text:nth-of-type(2) {
  margin-right: 0;
}

.header__lang-text:hover {
  opacity: .5;
}

@media screen and (max-width: 680px) {
  .header__lang-text {
    font-size: 18px;
    margin-right: 16px;
  }
}